on:
  schedule:
    - cron: '0 * * * *'

jobs:
  update-report:
    runs-on: ubuntu-latest
    steps:
      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::dplyr
            any::ggplot2
            any::gt
            any::tidyquant

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Render stock report
        run: quarto render daily_stock_update.qmd

      - name: Commit results
        run: |
          git config --local user.email "syoshiro@github.com"
          git config --local user.name "syoshiro"
          git add daily_stock_update.html
          git commit -m 'Report updated' || echo "No changes to commit"
          git push origin || echo "No changes to commit"

